@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

h6 {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #7D7987;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.row {
    margin-left: 0!important;
}

.blue-btn {
    color: #fff;
    background-color: #458FF6;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-size: 14px;
}

.blue-btn:hover {
    background-color: #fff;
    color: #458FF6;
    border: 1px solid #458FF6;
}

.white-btn {
    color: #458FF6;
    background-color: #fff;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-size: 14px;
    border: 1px solid #458FF6;
}

.white-btn:hover {
    background-color: #458FF6;
    color: #fff;
}

.vect {
    position: absolute;
    display: block;
    top: 160px;
    left: -10px;
    opacity: 0.3;
}

.vect-1 {
    position: absolute;
    display: block;
    top: 995px;
    left: -20.42px;
    opacity: 0.6;
    z-index: -1;
}

.vect-2 {
    top: 1311px;
    right: 0px;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}

.vect-3 {
    position: absolute;
    top: 2403px;
    right: 0px;
    opacity: 0.6;
    z-index: -1;
}

.vect-4 {
    position: absolute;
    right: -20px;
    opacity: 0.9;
}

.vect-5 {
    position: absolute;
    top: 3500px;
    left: 10px;
    opacity: 0.6;
}

.vect-6 {
    position: absolute;
    top: 190px;
    left: -20px;
    opacity: 0.6;
    z-index: -1;
}

.vect-7 {
    position: absolute;
    left: 731.05px;
    top: 200px;
    opacity: 0.6;
    z-index: -1;
}

.vect-8 {
    position: absolute;
    right: 50px;
    top: 4846px;
    opacity: 0.6;
    z-index: -1;
}

.our-services {
    text-align: center;
}

.our-services .s-text {
    max-width: 80%;
    margin: 40px auto;
}

.divider {
    width: 56px;
    height: 2px;
    background-color: #000;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
}

.divider-left {
    width: 56px;
    height: 2px;
    background-color: #000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.g-box {
    min-height: 354px; 
    border-radius: 20px;
    background-color: #fff;
    webkit-box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8) !important;
	-moz-box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8) !important;
    box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8);
    text-align: left;
}

.g-box h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
}

.g-box p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

.carousel {
    max-width: 1120px;

}

.carousel-inner {
    position: relative;
    max-width: 1120px;
    min-height: 425px;
    border-radius: 24px;
    background-image: linear-gradient(to bottom left, #67C3F3, #5A98F2);
    overflow-x: hidden;
}

.image-t {
    border: 3px solid #C4C4C4;
    border-radius: 50% 50%;
}

/* carousel */
/* .carousel-inner {
    max-width: 800px
} */

.carousel-indicators {
    bottom: -50px;
    right: 0;
    margin: 0
}

.carousel-indicators [data-bs-target] {
    height: 10px;
    border: 2px solid #fff;
    width: 10px;
    background-color: #67C3F3;
    border-radius: 50%
}

.carousel-indicators .active {
    border: 2px solid transparent;
    background-color: #5B9BF3;

}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    width: 45%;
}

.our-articles {
    position: relative;
    margin-top: 150px !important;
}

.a-box {
    min-height: 512px; 
    width: 350px;
    background-color: #fff;
    webkit-box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8) !important;
	-moz-box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8) !important;
    box-shadow: 10px 10px 70px 0 rgba(229,233,246, 0.8);
    text-align: left;
}

.a-box img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.txt-h {
    line-height: 32px;
}

.icon-image-a {
    width: 6%;
}

.footer {
    min-height: 432px;
    margin-top: 100px;
    background-image: linear-gradient(to bottom left, #67C3F3, #5A98F2);
    overflow-x: hidden;
    overflow-y: hidden;
}
